body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1c171b;
}

#map {
  height: 600px;
  width: 100%;
}

a {
  color: #766c3d;
}

li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}
